
<footer>

<<<<<<< HEAD
<div class="text-center text-bold text-light bg-dark mb-0 rounded mt-1">
=======
<div class="text-center text-bold bg-primary mb-0 rounded mt-1">
>>>>>>> 4a47bf33c535964e41667a18b7da6887ff78f878
	© 2019 PT and JS
</div>

</footer>
</body>
</html>