<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-info">

	<a class="navbar-brand bg-danger rounded px-2 "href="/topics">Mean It</a></li>

  	<div class="navbar-nav text-warning text-center h3 font-italic">"Where the internet acts like it should"
  	</div>
 
  <button class="bg-warning rounded" type="button">
    <a href="/users/logout" class="text-danger">Logout</a>
  </button>

</nav>
