<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
</head>
<body>

<h1>Welcome</h1>
<br>
	<form action ="/users/register" method="POST">
		Name: <input type="text" name="name"><br>

		Password: <input type="text" name="password"><br>

		Image: <input type="text" name="img"><br>

		<button>Register User</button>
	
	</form>

</body>
</html>