<!DOCTYPE html>
<html>
<head>
	<title>New Post</title>
</head>
<body>

<h1>Create New Post</h1>

	<form action="/posts" method="POST">

		<!-- user selects topic. ideally this would be auto selected for them.. something to come back to -->



		Select Topic: <select name="topicId">
			
			<% for(let i=0; i <topics.length; i++) {%>

			<option value="<%=topics[i]._id%>"><%=topics[i].name%></option>

			<%}%>

		</select><br>

		Name: <input type="text" name="name"><br>
		Date: <input type="date" name="date"><br>
		Post: <br><textarea name="body" placeholder="What do you want to say?"></textarea><br/>

		<button>Create Post</button>
	</form>

</body>
</html>