<%- include ../partials/header.ejs%>

<h1>Welcome to the topics page!</h1>

	<%if(user.super === true) {%>

	<h2><a href="/topics/new">CREATE TOPIC</h2></a>

	<%}%>

	<ul>
		<%topics.forEach((topic) => { %>

		<li><a href="topics/<%=topic._id%>"><%=topic.name%></a></li>

		<% })%>

	</ul>


<%- include ../partials/footer.ejs%>