<!DOCTYPE html>
<html>
<head>
	<title>Topics Page</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css">
</head>
<body>

<h1>Welcome to the topics page!</h1>

	<%if(user.super === true) {%>

	<h2><a href="/topics/new">CREATE TOPIC</h2></a>

	<%}%>

	<ul>
		<%topics.forEach((topic) => { %>

		<li><a href="topics/<%=topic._id%>"><%=topic.name%></li>

		<% })%>

	</ul>


</body>
</html>