<%- include ../partials/header.ejs%>

	<h1> Create a new topic</h1>

	<form action="/topics" method="POST">

		Name:<input type="text" name="name" /><br>
		Date:<input type="date" name="date" /><br>
		Img:<input type="text" name="img" /><br>
		Author:<input type="text" name="author" value="<%=user.name%>" /><br>
		Topic: <br>
		<textarea name="body" placeholder="What are we talking about?"></textarea><br/>
		<button>Create Topic</button>
	</form>

<%- include ../partials/footer.ejs%>